body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background:  #333;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    max-width: 900px;
}

.row {
    display: flex;
    gap: 30px;
}

.box {
    background: lightblue;
    flex: 1;
    height: 80px;
    border: 2px solid #333;
}

.big {
    flex: 2;
    height: 150px;
}

.wide {
    flex: 3;
    height: 200px;
}